@import "tailwindcss";

:root {
  --font-primary: 'Poppins', 'serif';
  --font-heading: 'Caveat', 'serif';
}
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  html, body, #root {
    height: 100%;
  }
  .font-primary{
    font-family: var(--font-primary);
  }

  .font-heading{
    font-family: var(--font-heading);
  }

  body {
    /* Global light/dark colors for background and text */
    @apply bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100 transition-colors duration-300;
  }
}
